@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 127, 127, 127;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    rgb(var(--background-start-rgb));
}

.header:before {
  content: 'Hello World';
}

.header:hover:before {
  content: 'My Name is Usman Yousaf';
  background-color: black;
  padding: 10px
}